<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
.btn {
    border-radius: 1px;
    background-color: #ff450c !important;
    text-transform: none;
}
nav {
    background-color: white;
    padding-right: 2rem;
}
nav ul a {
    color: black;
    font-size: 1.5rem;
}
.NavLogo {
    font-size: 2em;
    color: #ff450c !important;
    font-size: 2.6rem;
    padding-left: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    font-family: 'Yellowtail', cursive;
}
body{
    overflow: hidden !important;
}
</style>
