<template><div>

    <div id="mobMenTrigger" class="desktopHideBlock"  v-show="mainApp">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <a  class="brand-logo NavLogo">Tick It</a>
                <!-- <a  data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a> -->
                <ul id="desktopUserDropDown" class="right hide-on-med-and-down" v-show="mainApp">
                     <li>
                         <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                         {{user.name}}
                         <i class="material-icons right">arrow_drop_down</i></a>
                     </li>
                </ul>

            </div>
        </nav>
    </div>

    <!--
    mobile <nav>
    -->
    <ul id="slide-out" class="sidenav" v-show="mainApp">
        <li>
            <div  class="user-view">
                <div class="background">
                    <img src="https://materializecss.com/images/office.jpg">
                </div>
                <a><img class="circle" src="https://materializecss.com/images/office.jpg"></a>
                <a><span class="white-text name">{{user.name}}</span></a>
                <a><span class="white-text name">{{user.userName}}</span></a>
            </div>
        </li>
        <li><a class="waves-effect" v-on:click="openCreateModel">New Ticket</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" v-on:click="getMyTickets(true)">My Tickets</a></li>
        <li><a class="waves-effect" v-on:click="getAllTickets(true)">All Tickets</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" v-on:click="logout">Logout</a></li>
    </ul>

    </nav>
    <ul id="dropdown1" class="dropdown-content" style="top: 63px;">
        <li><a v-on:click="logout">Logout</a></li>
    </ul>


    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <!--
        this is the main login window
    -->
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <div class="row" v-if="loginModel" id="loginForm">
        <!-- <a id="mobleOpen" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <div class="col s12">
            <div class="input-field">
                <label for="email" class="active">email</label>
                <input  v-model="loginForm.email" placeholder="email@email.com" id="login_email" type="text" class="validate">
                <span>{{errors.auth.email}}</span>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <label for="login_password" class="active">password</label>
                <input  v-model="loginForm.password" placeholder="password" id="login_password" type="password" class="validate">
                <span>{{errors.auth.password}}</span>
            </div>
        </div>
        <div class="col s12">
            <button class="waves-effect waves-light btn" v-on:click="login">login</button>
            <button class="waves-effect waves-light btn altBTN" v-on:click="openCreateUserModal()">Signup</button>
        </div>
    </div>
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <!--
        this is the main app windo
    -->
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <div v-show="mainApp" id="mainApp">
        <div class="row mobHide" id="buttonMenuTop">
            <div class="col s6">
                <button class="waves-effect waves-light btn" v-on:click="openCreateModel">
                    New Ticket
                </button>
            </div>
            <div class="col s3"></div>
            <div class="col s3">
                <button class="waves-effect waves-light btn " v-on:click="getMyTickets(true)">My Tickets</button>
                <button class="waves-effect waves-light btn " v-on:click="getAllTickets(true)">All Tickets</button>
            </div>

        </div>
        <div class="row ticketList" id="mainAppContainer">
            <div class="row" id="titleRow">
                <div class="col s6 mobW50">Ticket</div>
                <div class="col s2 mobHide">Due</div>
                <div class="col s1 mobW16">Days</div>
                    <div class="col s3 mobW16">Priority</div>
            </div>
            <ul class="collapsible expandable">
                <li v-for="(item, index) in listData">
                    <div class="collapsible-header row">
                        <div class="col s6 mobW50">
                            <span v-if="ifOverDue(item.due_date,item.deleted_at) == 1">
                                <!-- Overdue and Unresolved -->
                                <i class="material-icons redIcon tooltipped" data-position="bottom" data-tooltip="Overdue and Unresolved">mood_bad</i>
                            </span>
                            <span v-if="ifOverDue(item.due_date,item.deleted_at) == 2">
                                <!-- Unresolved -->
                                <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Needs to be Worked on">feedback</i>
                            </span>
                            <span v-if="ifOverDue(item.due_date,item.deleted_at) == 3">
                                <!--resolved Late -->
                                <i class="material-icons redIcon tooltipped" data-position="bottom" data-tooltip="Resolved But Late">done</i>
                            </span>
                            <span v-if="ifOverDue(item.due_date,item.deleted_at) == 4">
                                <!-- resolved -->
                                <i class="material-icons greenIcon tooltipped" data-position="bottom" data-tooltip="Resolved On Time">done</i>
                            </span>
                            {{item.title}}
                        </div>
                        <div class="col s2 dropTextToIconTextLevel mobHide">
                            {{item.due_date | formatDate}}
                        </div>
                        <div class="col s1 dropTextToIconTextLevel mobW16">
                            {{dueToString(item.deleted_at,item.due_date)}}
                        </div>
                        <div class="col s1 dropTextToIconTextLevel mobW16">
                            {{priorityToString(item.priority)}}
                        </div>
                        <div class="col s1 dropTextToIconTextLevel mobHide">
                            <!-- seperator for desktop -->
                        </div>
                        <div class="col s1 mobW16">
                            <div class="waves-effect waves-light btn littleBTN"  v-on:click="openEdit(index)">

                                <i class="material-icons">edit</i>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <span class="collapsible-bodyHeading">Created By:</span> {{userIdToUserName(item.created_by_id)}}<br>
                        <span class="collapsible-bodyHeading">Created At:</span>  {{item.created_at | formatDate}} <br>
                        <span class="collapsible-bodyHeading">Updated At:</span>  {{item.updated_at | formatDate}} <br>
                        <span class="collapsible-bodyHeading">Assigned To:</span> {{userIdToUserName(item.assigned_to_id)}}<br>
                        <span class="collapsible-bodyHeading">Description:</span> {{item.description}}
                    </div>
                </li>
            </ul>
            <div class="col s12 center-align" id="moreButtonContainer">
                <button class="waves-effect waves-light btn"  v-on:click="moreTickets()">more</button>
            </div>
        </div>

    </div>
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <!--
        create model for tickets
    -->
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <div id="createTicket" class="modal form  modal-fixed-footer">
        <div class="modal-content row">
            <h4>New Ticket</h4>
                <div class="input-field col s6">
                    <!-- <label for="c_tittle active">Tittle</label> -->
                    <div class="graySmallText">Tittle</div>
                    <input v-model="createTicket.title" placeholder="New Ticket For Issue or Problem" id="c_tittle" type="text" class="validate">
                    <span>{{errors.createTicketErrors.title}}</span>
                </div>
                <div class="inpu-field selectInputField col s6 ">
                    <div class="graySmallText">Priority</div>
                    <select v-model="createTicket.priority" id="c_priority" >
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="3">Low </option>
                    </select>
                    <span>{{errors.createTicketErrors.priority}}</span>
                </div>
                <div class="input-field col s12">
                    <label for="c_description" class="active">Description</label>
                    <textarea placeholder="A  Description of the Issue or Problem"  v-model="createTicket.description" id="c_description" class="materialize-textarea"></textarea>
                    <span>{{errors.createTicketErrors.description}}</span>
                </div>
                <div class="input-field col s6">
                    <!-- <label for="c_due_date" class="active">Due Date</label> -->
                    <div class="graySmallText">Due Date</div>
                    <input type="text" placeholder="dd/mm/yyyy" v-model="createTicket.due_date" id="c_due_date" class="">
                    <span>{{errors.createTicketErrors.due_date}}</span>
                </div>
                <div class="input-field selectInputField col s6">
                    <div class="graySmallText">Assigned To</div>
                    <select v-model="createTicket.assigned_to_id" id="c_assigend">
                            <option v-for="(userArray, index) in users" :value="userArray.id"> {{userArray.name}} | {{userArray.userName}}</option>
                    </select>
                    <span>{{errors.createTicketErrors.assigned_to_id}}</span>
                </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves btn altBTN">Close</a>
            <a href="#!" class="modal-action waves-effect waves btn" v-on:click="makeTicket()">Create</a>
        </div>
    </div>
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <!--
        update model for tickets
    -->
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <div id="editTicket" class="modal form  modal-fixed-footer">
        <div class="modal-content row">
            <h4>Edit Ticket</h4>
            <div class="input-field col s6">
                <!-- <label for="e_tittle" class="active">Tittle</label> -->
                <div class="graySmallText">Tittle</div>
                <input v-model="updateTicket.title" placeholder="New Ticket For Issue or Problem" id="e_tittle" type="text" class="validate">
                <span>{{errors.updateTicketErrors.title}}</span>
            </div>
            <div class="inpu-field col s6">
                <div class="graySmallText">Priority</div>
                <select v-model="updateTicket.priority" id="e_priority">
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low </option>
                </select>
                <span>{{errors.updateTicketErrors.priority}}</span>
            </div>
            <div class="input-field col s12">
                <label for="c_description" class="active">Description</label>
                <textarea  v-model="updateTicket.description" id="e_description" class="materialize-textarea"></textarea>
                    <span>{{errors.updateTicketErrors.description}}</span>
            </div>
            <div class="input-field col s6">
                <!-- <label for="e_due_date" class="active">Due Dat</label> -->
                <div class="graySmallText">Due Date</div>
                <input type="text" v-model="updateTicket.due_date" id="e_due_date" class="">
                <span>{{errors.updateTicketErrors.due_date}}</span>
            </div>
            <div class="input-field col s6">
                <div class="graySmallText">Assigned To</div>
                <select v-model="updateTicket.assigned_to_id" id="e_assigend"  >
                    <option v-for="(userArray, index) in users" :value="userArray.id"> {{userArray.name}} | {{userArray.userName}}</option>
                </select>
                <span>{{errors.updateTicketErrors.assigned_to_id}}</span>
            </div>
                <div class="input-field col s6">
                    <p>
                        <label>
                            <input type="checkbox" v-model="updateTicket.deleted_at">
                            <span>Mark as Resolved</span>
                        </label>
                    </p>
                    <span>{{errors.updateTicketErrors.resolved_at}}</span>
                </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves btn altBTN">Close</a>
            <a class="modal-action waves-effect waves btn" v-on:click="patchTicket()">Update</a>
        </div>
    </div>
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <!--
        create user form
    -->
    <!-- - - - - - - - - - - - -  - - - - - - - - - - - -  - - - - - - - - - - - - -->
    <div id="createUser" class="modal form  modal-fixed-footer">
        <div class="modal-content row">
            <h4>Create User</h4>
            <div class="input-field col s6">
                <label for="u_email" class="active">Email</label>
                <input v-model="createUser.email"  placeholder="example@gmail.com" id="u_email" type="email" class="validate">
                <span>{{errors.createUser.email}}</span>
            </div>
            <div class="input-field col s6">
                <label for="u_userName" class="active">User Name</label>
                <input v-model="createUser.userName" placeholder="JiJie" id="u_userName" type="text" class="validate">
                <span>{{errors.createUser.userName}}</span>
            </div>
            <div class="input-field col s6">
                <label for="u_name" class="active">Name</label>
                <input v-model="createUser.name" placeholder="Your Name" id="u_name" type="text" class="validate">
                <span>{{errors.createUser.name}}</span>
            </div>
            <div class="input-field col s12">
            </div>
            <div class="input-field col s6">
                <label for="u_password" class="active">password</label>
                <input v-model="createUser.password" placeholder="****" id="u_password" type="password" class="validate">
                <span>{{errors.createUser.password}}</span>
            </div>
            <div class="input-field col s6">
                <label for="u_password_confirmation" class="active">password</label>
                <input v-model="createUser.password_confirmation"  placeholder="****" id="u_password_confirmation" type="password" class="validate">
                <span>{{errors.createUser.password}}</span>
            </div>
        </div>

        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves btn altBTN">Close</a>
            <a class="modal-action waves-effect waves btn" v-on:click="makeUser()">Create</a>
        </div>
    </div>
</div></template>

<script>
    export default {
        name: 'HelloWorld',
        mounted: () => {//called on load
                 $('.collapsible').collapsible({
                   accordion : true
                 });
                //init tootips
                $('.tooltipped').tooltip();
                //init models
                $('.modal').modal();
                //inti selected boxs on forms
                $('select').formSelect();
                //for navifation
                $(".dropdown-trigger").dropdown();
                $('.dropdown-trigger').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    hover: true, // Activate on hover
                    belowOrigin: true, // Displays dropdown below the button
                    alignment: 'right' // Displays dropdown with edge aligned to the left of button
                });
                //int side nave
                 $('.sidenav').sidenav();
                 // $("#slide-out").trigger("click");

            // });


        },

        data: () => {
                return {
                    loginModel: true,
                    mainApp: false,
                    createTicket:{
                        "id": null,
                        "title": "",
                        "priority": "2",
                        "description": "",
                        "due_date": "",
                        "created_by_id": 1,
                        "assigned_to_id": 1,
                    },
                    updateTicket:{
                        "listDataPosition": "",
                        "id": null,
                        "title": "",
                        "priority": "",
                        "description": "",
                        "due_date": "",
                        "created_by_id": "",
                        "assigned_to_id": "",
                        "deleted_at": null,
                    },
                    createUser:{
                        email:"",
                        userName:"",
                        name:"",
                        password:"",
                        password_confirmation:"",
                    },
                    loginForm:{
                        email:"zcr2244@live.com",
                        password:"1234",
                    },
                    pageNumber:0,
                    users:[],
                    user:{
                        userName:"",
                        name:"",
                    },
                    errors:{
                        auth:{
                            email:"",
                            password:"",
                        },
                        createUser:{
                            email:"",
                            userNam:"",
                            name:"",
                            password:"",
                        },
                        createTicketErrors:{
                            title: "",
                            priority: "",
                            description: "",
                            due_date: "",
                            created_by_id: "",
                            assigned_to_id: "",
                        },
                        updateTicketErrors:{
                            title: "",
                            priority: "",
                            description: "",
                            due_date: "",
                            created_by_id: "",
                            assigned_to_id: "",
                            resolved_at: "",
                        },
                    },
                    key:"",
                    apiURL:"http://localhost/tickIT/laravel/TickIT/TickIt/public/api/",
                    moreMode: "getMyTickets",
                    listData: [],
                }
            },
        methods: {
            /**
             * this function conversts error arrays returned by ajax to strings
             * @param  {[type]} value null or sting
             * @return {[type]}       a string with an error message or if null an empty string
             */
            ets(errorArray,keyName){
                if (!errorArray.hasOwnProperty(keyName)){
                    return "";
                }else{
                    console.log(errorArray);
                    return errorArray[keyName][0];
                }

            },
            /**
             * this function returns true if the due date has padded or the due date is after the completed date
             * @param  String MySQLDueDate        a mySQL date string for the due date
             * @param  String MySQLdeleted_atDate a mySQL date string for the deleted at date which is used as the resolved date
             * @return Bool                    returns true or false
             */
            ifOverDue(MySQLDueDate,MySQLdeleted_atDate){
                var today = new Date();
                var dueDate = Date.createFromMysql(MySQLDueDate);
                if (MySQLdeleted_atDate == null){//if not resolved
                    if (today > dueDate){//is still unresolved and overdue
                        return 1;
                    }else{//is unresolved and not overdue
                        return 2;
                    }
                }else{//has been resolved
                        var resolvedDate =  Date.createFromMysql(MySQLdeleted_atDate);
                        if (resolvedDate > dueDate){//is resolved late
                            return 3;
                        }else{//is resolved on time
                            return 4;
                        }
                }
            },
            /**
             * this function is used render the priorityT number into text
             * @param  Int number  1 2 or 3
             * @return String       H, M orL
             */
            priorityToString(number){
                switch (number){
                    case "1": return "H"; break;
                    case "2": return "M"; break;
                    case "3": return "L"; break;

                }
            },
            /**
             * this function figures out how many days are left till the due date
             * @param  String resolved     - the items deleted at state - null or mySQLDateTime
             * @param  String mySQLDueDate - the due date of the ticket
             * @return String  "-" or number of days
             */
            dueToString(resolved,mySQLDueDate){
                if (resolved == null){ //in the case that it is not resolved - print days left or days overdue

                    var today = new Date();
                    var dueDate = Date.createFromMysql(mySQLDueDate);
                    var timeDiff = (dueDate.getTime() - today.getTime());
                    return  Math.ceil(timeDiff / (1000 * 3600 * 24));
                }else{//in the case that it is done
                    return "-";
                }
            },
            /*
            modal open functions
             */
            openCreateModel (){
                $('#createTicket').modal('open');
            },
            openEditModel (){
                $('#editTicket').modal('open');
            },
            openCreateUserModal(){
                $('#createUser').modal('open');
            },
            userIdToUserName (id){
                var users = this.$data.users;
                // console.log(users);
                // console.log(id+"!");
                for (let user in users){
                    let userObj = users[user];
                    // console.log(user +" ? "+user);
                    if (userObj.id == id){
                        return userObj.name;
                    }
                }
                return "User Not Found.";

            },
            /**
             * this function opens the edit ticket model
             * @param  INT index the indexin the array of data.listData
             * @return null      [description]
             */
            openEdit (index){
                console.log(index);
                let data = this.$data;
                let item = data.listData[index];
                this.$data.updateTicket.id = item.id;
                this.$data.updateTicket.title = item.title;
                this.$data.updateTicket.priority = item.priority;
                this.$data.updateTicket.description = item.description;
                this.$data.updateTicket.due_date = Date.toAUstring( item.due_date);
                this.$data.updateTicket.created_by_id = item.created_by_id;
                this.$data.updateTicket.assigned_to_id = item.assigned_to_id;
                if (this.$data.updateTicket.deleted_at == null){
                    this.$data.updateTicket.deleted_at = false;
                }else{
                    this.$data.updateTicket.deleted_at = true;
                }
                this.$data.updateTicket.listDataPosition = index;//store the index of the position in the array - used in updating
                // listDataPosition
                console.log(this.$data.updateTicket);
                //clear errors
                this.$data.errors.updateTicketErrors.title = "";
                this.$data.errors.updateTicketErrors.priority = "";
                this.$data.errors.updateTicketErrors.description = "";
                this.$data.errors.updateTicketErrors.due_date = "";
                this.$data.errors.updateTicketErrors.created_by_id = "";
                this.$data.errors.updateTicketErrors.assigned_to_id = "";
                this.$data.errors.updateTicketErrors.resolved_at = "";
                setTimeout(()=>{
                    $('select').formSelect();
                    $('#editTicket').modal('open');
                }, 60);

            },

            /**
             * This function is used to get more tickets in either using
             * getAllTickets or getMyTickets
             * @return null
             */
            moreTickets(){
                if (this.$data.moreMode == "getMyTickets"){//getMyTickets
                    this.getMyTickets(false);
                }
                if (this.$data.moreMode == "getAllTickets"){//get all tickets
                    this.getAllTickets(false);
                }
            },

            /**
             * this function gets all the tickets
             * @return {[type]} [description]
             */
            getAllTickets (resetPageNumber){
                    this.$data.moreMode = "getAllTickets";//set mode for next button
                //this resets the page number back to 0
                if (resetPageNumber){
                    this.$data.pageNumber = 0;
                    this.$data.listData = []; //reset list
                }
                this.$data.pageNumber +=1; //incrment page number to next one
                var page = this.$data.pageNumber; //set page number on local var
                var form = {
                    "token":this.$data.key,
                }
                var url = this.$data.apiURL + "tickets/"+page+"/true";
                var that = this;
                $.ajax({
                    url: url,
                    type: "POST",
                    data:form,
                    success: function(data){
                        console.log(data);
                        if (data.status){
                            // that.$data.listData = data.body;
                            if (data.body.length > 0){
                                for (let rowIndex in data.body){
                                    that.$data.listData.push(data.body[rowIndex]);
                                }
                            }else{
                                M.toast({html: 'All tickets are shown.'})
                            }
                            // that.$data.listData.concat(data.body);
                            setTimeout(()=>{
                                $('.tooltipped').tooltip();
                                $('.collapsible').collapsible({accordion : false});
                            }, 30);
                        }else{}
                    },error: function (data){}
                });
            },
            /**
             * this fucntion creates a ticket
             * @return null
             */
            makeTicket(){
                //get form data
                var form = {
                    "token":this.$data.key,
                    "title" : this.$data.createTicket.title,
                    "priority" : this.$data.createTicket.priority,
                    "description" : this.$data.createTicket.description,
                    "due_date" : this.$data.createTicket.due_date,
                    "created_by_id" : this.$data.createTicket.created_by_id,
                    "assigned_to_id" : this.$data.createTicket.assigned_to_id,
                };
                //reset errors
                this.$data.errors.createTicketErrors.title ="";
                this.$data.errors.createTicketErrors.priority ="";
                this.$data.errors.createTicketErrors.description ="";
                this.$data.errors.createTicketErrors.due_date ="";
                this.$data.errors.createTicketErrors.created_by_id ="";
                this.$data.errors.createTicketErrors.assigned_to_id ="";
                //set up url
                var url = this.$data.apiURL + "ticket";
                var that = this;
                $.ajax({
                    url: url,
                    type: "PUT",
                    // contentType: 'application/json',
                    application:"x-www-form-urlencoded", //note apachie will try and rewrite header if .htaccess not not configured
                    data:form,
                    success: function(data){
                        if (data.status){
                                M.toast({html: 'Ticket created successfully.'})
                                $('#createTicket').modal('close');
                        }else{
                            that.$data.errors.createTicketErrors.title = that.ets(data.body,'title');
                            that.$data.errors.createTicketErrors.priority =  that.ets(data.body,'priority');
                            that.$data.errors.createTicketErrors.description =  that.ets(data.body,'description');
                            that.$data.errors.createTicketErrors.due_date =  that.ets(data.body, 'due_date');
                            that.$data.errors.createTicketErrors.created_by_id =  that.ets(data.body, 'created_by_id');
                            that.$data.errors.createTicketErrors.assigned_to_id = that.ets( data.body, 'assigned_to_id');
                        }
                        console.log(data);
                    },error: function (data){}
                });
            },

            /**
             * this funciton updates an existing ticket
             * @type null
             */
             patchTicket (){
                 var url = this.$data.apiURL + "ticket";
                 var form = JSON.parse(JSON.stringify(this.$data.updateTicket)); // needs to be duplicated so that the deleted_at can be set to a date instead of form checkbox
                if (form.deleted_at == true){//if resolved than we can soft delete the obj
                    form.resolved_at = Date.dateObjToAUstring(new Date());
                }else{//just preform an update with no resolve
                    delete form.deleted_at; //mem clear
                }
                form['token'] = this.$data.key;//insert the token
                //clear errors
                this.$data.errors.updateTicketErrors.title = "";
                this.$data.errors.updateTicketErrors.priority = "";
                this.$data.errors.updateTicketErrors.description = "";
                this.$data.errors.updateTicketErrors.due_date = "";
                this.$data.errors.updateTicketErrors.created_by_id = "";
                this.$data.errors.updateTicketErrors.assigned_to_id = "";
                this.$data.errors.updateTicketErrors.resolved_at = "";
                  //note apachie will try and rewrite header if .htaccess not not configured
                 var that = this;
                 $.ajax({
                     url: url,
                     type: "PATCH",
                     application:"x-www-form-urlencoded",
                     data:form,
                     success: function(data){
                         console.log(data);
                         if (data.status){
                                $('#editTicket').modal('close');
                                M.toast({html: 'Ticket updated successfully.'});
                         }else{
                             that.$data.errors.updateTicketErrors.title = that.ets(data.body,'title');
                             that.$data.errors.updateTicketErrors.priority = that.ets(data.body,'priority');
                             that.$data.errors.updateTicketErrors.description = that.ets(data.body,'description');
                             that.$data.errors.updateTicketErrors.due_date = that.ets(data.body,'due_date');
                             that.$data.errors.updateTicketErrors.created_by_id = that.ets(data.body,'created_by_id');
                             that.$data.errors.updateTicketErrors.assigned_to_id = that.ets(data.body,'assigned_to_id');
                             that.$data.errors.updateTicketErrors.resolved_at = that.ets(data.body,'resolved_at');
                         }
                     },error: function (data){}
                });
             },
            /**
             * this function gets all the tickets the user has been assigned to
             * @param  {[type]} resetPageNumber if true the page will be reset to 0
             * @return null
             */
            getMyTickets (resetPageNumber){
                this.$data.moreMode = "getMyTickets";//set mode for next button
                //this resets the page number back to 0
                if (resetPageNumber){
                    this.$data.pageNumber = 0;
                    this.$data.listData = []; //reset list
                }
                this.$data.pageNumber +=1; //incrment page number to next one
                var page = this.$data.pageNumber; //set page number on local var
                var form = {
                    "token":this.$data.key,
                }
                var url = this.$data.apiURL + "tickets/my/"+page+"/true";
                var that = this;
                $.ajax({
                    url: url,
                    type: "POST",
                    data:form,
                    success: function(data){
                        console.log(data);
                        if (data.status){
                            //push elements on to the end of list data array
                            if (data.body.length > 0){
                                for (let rowIndex in data.body){
                                    that.$data.listData.push(data.body[rowIndex]);
                                }
                            }else{
                                M.toast({html: 'All tickets are shown.'});
                            }
                            setTimeout(()=>{
                                $('.tooltipped').tooltip();
                                $('.collapsible').collapsible({accordion : false});
                            }, 30);
                        }else{}
                    },error: function (data){}
                });
            },
            /**
             * this function clears the users session and jwt key
             * @return null [description]
             */
            logout(){
                this.$data.loginModel = true;
                this.$data.mainApp = false;
                this.$data.key = "";
                this.$data.user.userName = "";
                this.$data.user.name = "";
            },

            /**
             * this function creates a new user
             * @return null
             */
            makeUser(){
                //clear errors
                this.$data.errors.createUser.email = "";
                this.$data.errors.createUser.name = "";
                this.$data.errors.createUser.userName = "";
                this.$data.errors.createUser.password = "";
                //send
                var form = JSON.parse(JSON.stringify(this.$data.createUser)); // needs to be duplicated so that the deleted_at can be set to a date instead of form checkbox
                var that = this;
                var url = this.$data.apiURL + "user";
                $.ajax({
                    url: url,
                    type: "PUT",
                    application:"x-www-form-urlencoded",
                    data:form,
                    success: function(data){
                        if (data.status){
                            //clear input
                            this.$data.createUser.email = "";
                            this.$data.createUser.name = "";
                            this.$data.createUser.userName = "";
                            this.$data.createUser.password = "";
                            //show sucess and close modal
                            M.toast({html: 'User Created.'});
                            $('#createUser').modal('close');
                        }else{
                            that.$data.errors.createUser.email = that.ets(data.body,'email');
                            that.$data.errors.createUser.name = that.ets(data.body,'name');
                            that.$data.errors.createUser.userName = that.ets(data.body,'userName');
                            that.$data.errors.createUser.password = that.ets(data.body,'password');
                        }
                    },error: function (data){}
                });
            },

            /**
             * this function logs the users in
             * @return null
             */
            login (){
                var form = this.$data.loginForm;
                var url = this.$data.apiURL + "user/auth";
                console.log(this.$data.loginForm);
                var that = this; //scope hack
                $.ajax({
                    url: url,
                    type: "POST",
                    data:form,
                    success: function(data){
                        // set the errors to nul
                        that.$data.errors.auth.email = "";
                        that.$data.errors.auth.password = "";
                        if (data.status){
                            //set key
                            that.$data.key = data.body.token;

                            //set user
                            that.$data.user.userName = data.body.userName;
                            that.$data.user.name = data.body.name;
                            //set all users
                            that.$data.users = data.body.users;
                            //set form
                            console.log(that.$data.key);
                            console.log(data);
                            that.$data.loginForm.email = "";
                            that.$data.loginForm.password = "";
                            //swap views
                            that.$data.loginModel = false;
                            that.$data.mainApp = true;
                            //re init collapsible becuase they don't get init if hidden
                            that.getMyTickets(true);
                            //set slections boxes
                            setTimeout(()=>{
                                $('select').formSelect();
                            }, 60);
                            // console.log(that);
                        }else{
                            that.$data.errors.auth.email = that.ets(data.body,'email');
                            console.log(that.ets(data.body,'email'));
                            that.$data.errors.auth.password = that.ets(data.body,'password');
                        }
                    },error: function (data){}
                });
            }

        },




    }




</script>

<style scoped>
    .app{ /* clear styles*/
        /* margin: 0em; */
        /* overflow-y: scroll; */
    }
    /* login form styles */
    #loginForm{
        width: 300px;
        /* border: 1px solid; */
        padding: 2rem;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        transform: translateY(80%);
    }
    /* main app styles */
    #mainApp{
        width: 100vw;
        /* height: 100vh; */
        /* background-color: red; */
        overflow-y: scroll;
        padding-top: 40px;
        position: fixed;
        top: 64px;
        bottom: 0em;
    }
    #buttonMenuTop{
        max-width: 1000px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
        #mainAppContainer{
            max-width: 1000px;
            /* background-color: red; */
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            margin-top: 1.5em;
        }
        #titleRow{
            line-height: 3rem;
            padding-top: 0.5rem;
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 0em !important;
        }

        .collapsible-body{
            padding: 1rem;
            padding-bottom: 1.5rem;
        }
            .collapsible-bodyHeading{
                font-weight: bold;
            }
        .collapsible-header{
            font-size: 1rem;
            font-weight: bold;
            vertical-align: bottom !important;
        }
        .collapsible .row{
            margin-bottom: 0em !important;
        }
        .collapsible{
            box-shadow: none !important;
        }
        #moreButtonContainer{
            margin-bottom: 1rem;
        }
        .greenIcon{
            color: green;
        }
        .redIcon{
            color: red;
        }
        .littleBTN{
            padding: 0em !important;
            padding-left: 0.5em !important;
        }
        .littleBTN i{
            margin-right: 0.50rem !important;
        }
        .altBTN{
            color: #ff450c !important;
            background-color: white !important;
        }
        .dropTextToIconTextLevel{
            padding-top: 0.5rem;
        }
        /* style fixes*/
        .input-field span{ /*error messages*/
            position: relative;
            top: -1rem;
            font-size: 0.8rem;
            color: red;
        }
        .input-field .select-dropdown{
            top: -0.5rem;
        }
        .input-field label span{
            color: black;
        }
        .graySmallText{
            color: #989898;
            font-size: 0.80rem;
            margin-top: 0.3em;
            margin-left: 0.4em;
            line-height: 1.5;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-weight: normal;
        }
        /* .selectInputField{
            top: -1.4rem;
        } */
        #dropdown1 {
            top:60px !important;
            /* overflow: visible;
            width: 150px !important;
            left: 817px !important; */
            background: white;
        }
        /* desktop reset  styling*/
        @media (min-width: 600px) {
            .desktopHideBlock{
                display: none !important;
            }
        }
        /*mobile styling */
        @media (max-width: 600px) {
            #loginForm{
                transform: none;
                position: fixed;
                top: 57px;
                bottom: 0em;
                width: 100%;
                margin-bottom: 0em;
            }
            .mobHide{
                display: none !important;
            }
            .desktopHideBlock{
                display: block;
            }
            #mainApp{
                padding-top: 40px;
                top: 0px;
            }
            .mobW50{
                width: 50% !important;
            }
            .mobW16{
                width: 16% !important;
            }
            .modal{
                width: 100%;
                height: 100vh;

                transform: none !important;
                top: 0em !important;
                bottom: 0em !important;
            }
            .input-field {
                width: 100% !important;
            }
        }

/* style fixes for mcss*/
#mobMenTrigger{
    position: fixed;
    top: 18px;
    left: 18px;
    z-index: 999;
}
.brand-logo{
    position: fixed;
    top: 0px;
    /* transform: translateX(-74%); */
    left: 50%;
}
#desktopUserDropDown{
    top: -64px;
    position: relative;
}
</style>
